.heading{
    font-size: 23px;
    width: 100%;
    margin:0px;
    box-shadow: 7px 5px 5px rgb(255, 99, 99);
}

.note{
    font-size: 14px;
    color: black;
    font-weight: 800;
}

.copy_right_footer{
    position:fixed;
    color: white;
    bottom: 0;
    width: 100%;
    background-color: rgb(34, 53, 38);
    line-height: 3;
    text-align: center;
    font-weight: 600;
}

canvas{
    border: 5px solid white;
    border-radius: 20px;
    box-shadow: 5px 5px 5px rgb(0, 0, 0);
}